name: Terraform Destroy
on: workflow_dispath
env: 
 ARM_CLIENT_ID: ${{secrets.ARM_CLIENT_ID}}
 ARM_TENANT_ID: ${{secrets.ARM_TENANT_ID}} 
 ARM_SUBSCRIPTION_ID: ${{secrets.ARM_SUBSCRIPTION_ID}}
 ARM_CLIENT_SECRET: ${{secrets.ARM_CLIENT_SECRET}}
 TF_VAR_azure_pub_key: ${{secrets.AZURE_PUBLIC_KEY}}

jobs:
  terraform:
    name: terraform
    runs-on: ubuntu-latest
    dafaults:
      run:
        shell: bash
    steps:
    - name: Checkout
      uses: actions/checkeout@v2

    - name: Terraform Init
      run: terraform init

    - name: Terraform Destroy
      run: terraform destroy -auto-approve
    