
name: Terraform Plan
on: push
env: 
 ARM_CLIENT_ID: ${{secrets.ARM_CLIENT_ID}}
 ARM_TENANT_ID: ${{secrets.ARM_TENANT_ID}} 
 ARM_SUBSCRIPTION_ID: ${{secrets.ARM_SUBSCRIPTION_ID}}
 ARM_CLIENT_SECRET: ${{secrets.ARM_CLIENT_SECRET}}
 TF_VAR_azure_pub_key: ${{secrets.AZURE_PUBLIC_KEY}}

jobs:
  terraform:
    name: terraform
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform pan
    

 

